/* stylesheet for FlashCard program */


.mainContainer {
    width: 75%;
    margin: auto;
    background-color: black;
    height: 500px;
    border-radius: 7px;
    box-shadow: #6D7575 3px 3px 3px;
}
.backgroundImage {  
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 0 20px 20px 20px;
}
#sightWord {
    margin-top: 100px;
    background-image: url("../assets/indexCard.jpg"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    line-height: 300px;
    font-family: 'ABeeZee', sans-serif;
    text-shadow: #6D7575 4px 4px 4px; 
    font-size: 5em;
}
#button {
    width: 90%;
    margin: auto;
    
}
#button2 {
    width: 90%;
    margin: auto;
    
}
button {
    display: block;
    font-size: 20px;
    width: 25%;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
}
a {
    padding-right: 20px;
}
#editWord {
    font-size: 25px;
    margin-top: 40px;
    padding: 10px 40px;
    display: inline-block;
    background-color: #e3f2fd;
    border-radius: .3rem;
}
.bigWords {
    font-size: 2rem;
}
.padding {
    margin-top: 2rem;
}
.spanWords {
    font-size: 2.5rem;
    font-style: bold;
}
#scrollBox {
    border: 2px solid #e9ecef;
    overflow: scroll;
    height: 460px;
}
@media only screen and (max-height: 825px ) {
     #scrollBox {
        height: 240px;
        overflow: scroll;
    } 
    .bigWords {
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px ) {
    .bigWords {
        font-size: 1.5rem;
    }
    button {
        width: 50%;
    }
}
@media only screen and (max-width: 478px) {
    .bigWords {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 520px) {
    h1 {
        font-size: 2rem;
    }
    .mainContainer {
        height: 240px;
        width: 80%;
    }
    #sightWord {
        margin-top: -30px;
        font-size: 3em;
    }
    button {
        width: 75%;
    }
    
}
@media only screen and (max-width: 380px) {
    #listWord {
        font-size: 1.5rem;
        text-align: center;
    }
}
