/* stylesheet for FlashCard program */


#sightWord {
    background-image: url("../assets/indexCard.jpg"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: auto;
    text-align: center;
    line-height: 140px;
    font-family: 'Didact Gothic', sans-serif;
    text-shadow: #6D7575 2px 2px 2px; 
    font-size: 5rem;
    padding: 0 50px 10px 50px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    box-shadow: 2px 2px 2px rgb(155, 152, 152);
}
#editWord {
    font-size: 25px;
    margin-top: 40px;
    padding: 10px 40px;
    display: inline-block;
    background-color: #e3f2fd;
    border-radius: .3rem;
}
.bigWords {
    font-size: 2rem;
}
.padding {
    margin-top: 2rem;
}
.spanWords {
    font-size: 2.5rem;
    font-style: bold;
}
#scrollBox {
    border: 2px solid #e9ecef;
    overflow: scroll;
    height: 650px;
}

@media only screen and (max-height: 1024px ) {
    #scrollBox {
       height: 520px;
   } 
}
@media only screen and (max-height: 812px ) {
    #scrollBox {
       height: 455px;
   } 
}
@media only screen and (max-height: 736px ) {
    #scrollBox {
       height: 380px;
   } 
}
@media only screen and (max-height: 684px ) {
    #scrollBox {
       height: 300px;
   } 
}
@media only screen and (max-width: 736px ) {
    .bigWords {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 478px) {
    .bigWords {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 520px) {
    h1 {
        font-size: 2rem;
    }
    #sightWord {
        font-size: 3em;
        padding: 0 50px;
        line-height: 120px;
    }
}


